<div style="text-align:center" class="container">
    <br>
    <h3>Bem vindo ao ServCard</h3>
    <br>
    <form action="/game">
        <label for="player1">Para começar o jogo informe o seu nome:</label>
        <br>
        <input type="text" id="player1" name="player1">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>